@media screen and (min-width:40rem) {
    nav {
        display: flex !important;
        /* Override any inline styles */
        flex-direction: row;
        justify-content: space-evenly;
    }

    .flex-contianer {
        display: flex;
        flex-direction: row;
        /* This ensures the sections are side by side */
    }

    .card {
        flex: 1;
    }

    .material-symbols-outlined {
        display: none;
    }

    /* Disable animations on larger screens */
    #nav,
    .nav-closed a,
    .nav-closed {
        animation: none !important;
        opacity: 1 !important;
        max-height: none !important;

    }

    /* Additional CSS to revert any inline styles*/
    #nav a {
        transform: scale(1) !important;
        opacity: 1 !important;
    }

}