body {
    font-family: 'Montserrat', sans-serif;
}

header,
footer {
    max-width: 750px;
    margin: 1rem auto;
    /*border: 1px solid #a6a6a6;*/
    padding: 1rem;
    background-color: #004896;
}

main {
    max-width: 750px;
    margin: 1rem auto;
    border: 1px solid #a6a6a6;
    padding: 1rem;
    background-color: #fff;
}

main {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 1rem;
}

section {
    padding: 1rem;
    background-color: white;
}

h1 {
    text-align: center;
}

#footertext {
    text-align: center;
    color: #fff;
}