body {
    font-size: 16px;
    line-height: 1.5;
    font-family: 'Montserrat', sans-serif;
    background-color: #e5f4ff;
    max-width: 700px;
    margin: auto;
}

header,
main,
footer {
    margin: 0 auto;
    max-width: 700px;
}

header img {
    width: 130px;
    float: left;
}

header,
footer {
    padding: 16px;
    text-align: center;
    background: #004896;
    color: #fff;
    border-radius: 0px;
    margin: 0 auto;
    max-width: 700px;
}

h1 {
    font-size: 2.5em;
}

h2 {
    font-size: 1.5em;
    color: #004896;
    /*border-bottom: 1px solid #efefef;*/
    text-align: center;
}

footer p {
    line-height: 1;
}

footer a {
    color: #fff
}

.highlighted {
    color: #fff;
}

/*
nav ul {
    list-style-type: none;
    padding: 0;
    background-color: #000000;
    overflow: hidden;
    width: 700px;
    margin: auto;
}

nav li {
    float: left;
}

nav a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}*/

main {
    max-width: 700px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
}

.card {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    margin-bottom: 20px;
    padding: 20px;
}

footer {
    text-align: center;
    padding: 10px;
    background-color: #004896;
    color: white;
}

nav {
    margin: 0 auto;
    max-width: 760px;
    background-color: #000000;
}

.navigation {
    list-style: none;
    padding: 0;
    margin: auto;
}

.navigation li:first-child {
    display: block;
}

.navigation li {
    display: none;
}

.navigation a {
    display: block;
    padding: 0.75rem;
    text-align: center;
    text-decoration: none;
    color: #fff;
    font-weight: 700;
}

.navigation a:hover {
    color: #fc0007;
    background-color: black;
}

/* the onclick JS toggles the .reponsive class from display none (.navigation li) to display block because the responsive class is added to the end of the class list like this in HTML.
  <ul class="navigation responsive">
*/
.responsive li {
    display: block;
}

/* Media Query for medium+ views */
@media only screen and (min-width: 32.5em) {
    .navigation {
        display: flex;
    }

    .navigation li {
        display: block;
        /* change state in small view */
        flex: 1 1 auto;
    }

    .navigation a {
        text-align: center;
    }

    .navigation li:first-child {
        display: none;
    }
}

/* Responsive Styles */
@media screen and (max-width: 600px) {
    nav ul {
        text-align: center;
    }

    nav li {
        float: none;
        display: inline-block;
    }

    main {
        padding: 10px;
    }

    .card {
        padding: 10px;
    }
}

@media screen and (max-width: 400px) {
    header img {
        width: 80px;
    }
}